<p-tabView [scrollable]="true" class="h-full block">
    <p-tabPanel>
        <ng-template pTemplate="header">
            <svg class="fill-indigo-800" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                    d="M3 13h1v7c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-7h1a1 1 0 0 0 .707-1.707l-9-9a.999.999 0 0 0-1.414 0l-9 9A1 1 0 0 0 3 13zm7 7v-5h4v5h-4zm2-15.586 6 6V15l.001 5H16v-5c0-1.103-.897-2-2-2h-4c-1.103 0-2 .897-2 2v5H6v-9.586l6-6z">
                </path>
            </svg>
        </ng-template>
        <div>
            <h2 class="text-center font-bold text-lg">Ready Components</h2>
            <div class="flex flex-row gap-10">
                <button (click)="addToTabs('home_component')"
                    class="w-28 h-28 shadow rounded hover:bg-black/5 hover:scale-105 font-bold">
                    Home
                </button>
                <button (click)="addToTabs('products_component')"
                    class="w-28 h-28 shadow rounded hover:bg-black/5 hover:scale-105 font-bold">
                    Product
                </button>
            </div>
        </div>
        <hr class="mt-10 mb-10">
        <div>
            <h2 class="text-center font-bold text-lg mb-10">Add To Tabs</h2>
            <form [formGroup]="tabForm" class="flex flex-col items-center justify-around">
                <div class="flex flex-col gap-2 w-64 mb-10">
                    <label for="componentName">Name</label>
                    <p-dropdown inputId="componentName" formControlName="name" [options]="tabs" optionLabel="name"
                        optionValue="name"></p-dropdown>
                </div>
                <div class="flex flex-col gap-2 w-64 mb-10">
                    <label for="componentTitle">Title</label>
                    <input formControlName="title" pInputText id="componentTitle" type="text" autocomplete="off" />
                </div>
                <div class="flex flex-col gap-2 w-64 mb-10">
                    <label for="componentDescription">Description</label>
                    <input formControlName="description" pInputText id="componentDescription" type="text"
                        autocomplete="off" />
                </div>
                <div class="flex flex-row gap-2 w-64 mb-10  items-center justify-center">
                    <p-checkbox formControlName="closable" [binary]="true" inputId="componentClosable"></p-checkbox>
                    <label for="componentClosable">Closable</label>
                </div>
                <div class="w-40">
                    <button (click)="add()" pButton class="w-full flex items-center justify-center">Add</button>
                </div>
            </form>
        </div>
    </p-tabPanel>
    <p-tabPanel [tooltip]="tab.description" *ngFor="let tab of tabsService.data(); index as i; trackBy: tabsTrackByFn">
        <ng-template pTemplate="header">
            <span>{{tab.title}}</span>
            <button *ngIf="tab.closable" (click)="close(i)"
                class="ease-in-out duration-200 rounded-full ml-3 bg-stone-50 hover:scale-125">
                <svg class="fill-indigo-800" xmlns="http://www.w3.org/2000/svg" width="23" height="23"
                    viewBox="0 0 24 24">
                    <path
                        d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z">
                    </path>
                </svg>
            </button>
        </ng-template>
        <ng-tamplate loadTab [componentName]="tab.name" [data]="tab.data" />
    </p-tabPanel>
</p-tabView>